html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.no-something{
    text-align:center;
    padding-top: 150px;
}

.hidden {
    display: none;
}



.h1-head {
    margin-bottom: 30px;
}

.deleted-store {
    color:red;
}

.error-message{
    margin-top: 5px;
    min-height: 20px;
}

.display-error {
    display: inline-block;
}

.log {
    box-shadow: inherit;
}

.disabled {
    opacity: 0.5 !important;
    background-color: darkgray !important;
    border-color: darkgray !important;
    color: rgb(0 ,0, 0) !important;
}
